scan_timeout = 10 # ms

format = """
[](#16DDB3)\
$time\
[](fg:#16DDB3 bg:#11B1E0)\
$cmd_duration\
[](fg:#11B1E0 bg:#FFD702)\
$directory\
[](fg:#FFD702 bg:#E06C75)\
$git_branch\
$git_status\
[](fg:#E06C75 bg:#000)\
$fill
$character
"""

right_format = ""

[username]
disabled = true
format = '[$user ]($style)'
show_always = true
style_root = "#263238 bg:#9A348E"
style_user = "#263238 bg:#9A348E"

[os]
disabled = false
format = "[$symbol]($style)"
style = "#263238  bg:#9A348E"

[os.symbols]
Macos = " "
Ubuntu = ": "

[directory]
format = "[  $path ]($style)"
style = "#263238 bg:#FFD702"
truncate_to_repo = false
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
format = '[ $symbol $branch]($style)'
style = "#263238 bg:#E06C75"
symbol = ""

[git_status]
format = '[$all_status$ahead_behind]($style)'
style = "#263238 bg:#E06C75"

[time]
disabled = false
format = '[ $time ]($style)'
style = "#263238 bg:#16DDB3"
time_format = "%R" # Hour:Minute Format
utc_time_offset = '+9'

[cmd_duration]
disabled = false
format = '[  $duration ]($style)'
min_time = 1
show_milliseconds = true
style = "#263238 bg:#11B1E0"

[character]
error_symbol = "[❯](bold red)"
success_symbol = "[❯](bold green)"

[fill]
disabled = true
style = 'blue'
symbol = '─'

[docker_context]
disabled = true
format = '[ $symbol $context ]($style)'
style = "#1D63ED"
symbol = ""

[golang]
disabled = true
format = '[ $symbol ($version) ]($style)'
style = "bg:#E06C75"
symbol = ""

[java]
disabled = true
format = '[ $symbol ($version) ]($style)'
style = "#F09016"
symbol = ""

[nodejs]
disabled = true
detect_files = ['package.json', '.node-version', '!bunfig.toml', '!bun.lockb', '!bun.lock']
format = '[ $symbol ($version) ]($style)'
style = "#4D8E48"
symbol = ""

[bun]
disabled = true
format = '[ $symbol ($version) ]($style)'
style = "#FBF0DF"
symbol = "󱨛"

[dart]
disabled = true
format = '[ $symbol ($version) ]($style)'
style = "#2BB1EE"
symbol = ""

[rust]
disabled = true
format = '[ $symbol ($version) ]($style)'
style = "#F74C00"
symbol = ""

[aws]
disabled = true
format = '[ $symbol ($region) ]($style)'
style = '#F79400'
symbol = '󰸏'

[python]
disabled = true
format = '[${symbol} (${version}) (\(${virtualenv}\) )]($style)'
python_binary = ["./.venv/bin/python", "./.venv/bin/python3", "python", "python2", "python3"]
style = "#FFD743"
symbol = '󰌠'
