[user]
  name = Kyohei Ozawa
  email = zawazawakyo@gmail.com

[color]
  ui = auto

[core]
  pager = delta
  ignorecase = false

[delta]
  navigate = true
  light = false

[diff]
  colorMoved = default

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[include]
  path = ~/.gitconfig.local

[hook "hk-pre-commit"]
  command = test "${HK:-1}" = "0" || ~/.local/bin/mise x hk -- hk run pre-commit --from-hook --staged
  event = pre-commit

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = zdiff3

[push]
  default = simple

[rerere]
  enabled = true
